<div class="control-section">
  <ejs-schedule #scheduleObj cssClass='schedule-group-custom-work-days' width='100%' height='650px' [currentView]="currentView"
                [group]="group" [selectedDate]="selectedDate" (actionBegin)="onActionBegin($event)" (popupOpen)="onPopupOpen($event)"
                (renderCell)="onRenderCell($event)" [eventSettings]="eventSettings" [allowResizing]="allowResizing"
                [allowDragAndDrop]="allowDragDrop"

  >
    <ng-template #resourceHeaderTemplate let-data>
      <div class='template-wrap'>
        <div class="resource-image {{getDoctorImage(data)}}"></div>
        <div class="resource-details">
          <div class="resource-name">{{getDoctorName(data)}}</div>
          <div class="resource-designation">{{getDoctorLevel(data)}}</div>
        </div>
      </div>
    </ng-template>
    <e-views>
      <e-view option="WorkWeek"></e-view>
      <e-view option="Month"></e-view>
    </e-views>
    <e-resources>
      <e-resource field='DoctorId' title='Doctor Name' name='Doctors' [dataSource]='resourceDataSource' textField='text' idField='id'
                  colorField='color' workDaysField='workDays' startHourField='startHour' endHourField='endHour'>
      </e-resource>
    </e-resources>
  </ejs-schedule>
</div>

